@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
*{
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
}
.App{
  height: 100vh;
  width:100%;
  display: flex;
  flex-wrap: wrap;
}
.top-container{
  background: grey;
  display: flex;
  align-items:flex-end;
  width: 100%;
  height: 10%;
}

.central-container{
  display:flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70%;
}
.bottom-container{
  background: #addbf0;
  height:20%;
  width:100%;
}
.navbar{
  display:flex;
  align-items: flex-end;
  justify-content: center;
  height:50%;
  width:100%;
}
.main-show{
  display: flex;
  justify-content: center;
flex-direction: row;
  width:100%;
  height:100%;
}